/*
Error: Invalid CSS after "...n-height: 800px": expected "{", was ";"
        on line 92 of /Users/tomyu/Developer/workspace/web/mastering-sass-swag/assets/scss/style.scss

87: @import "theme/typography";
88: @import "theme/color";
89: 
90: main {
91:   @include bp {git
92:     min-height: 800px;
93:   }
94: }

Backtrace:
/Users/tomyu/Developer/workspace/web/mastering-sass-swag/assets/scss/style.scss:92
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:665:in `block'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:245:in `include_directive'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:197:in `directive'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/tomyu/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/tomyu/.rvm/gems/ruby-2.2.4/bin/sass:23:in `load'
/Users/tomyu/.rvm/gems/ruby-2.2.4/bin/sass:23:in `<main>'
/Users/tomyu/.rvm/gems/ruby-2.2.4/bin/ruby_executable_hooks:15:in `eval'
/Users/tomyu/.rvm/gems/ruby-2.2.4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...n-height: 800px\": expected \"{\", was \";\"\A         on line 92 of /Users/tomyu/Developer/workspace/web/mastering-sass-swag/assets/scss/style.scss\A \A 87: @import \"theme/typography\";\A 88: @import \"theme/color\";\A 89: \A 90: main {\A 91:   @include bp {git\A 92:     min-height: 800px;\A 93:   }\A 94: }"; }

/*# sourceMappingURL=style.css.map */
